.movies {
  height: 100%;
  width: 100%;
  /* border: 1px white solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  height: 10%;
  width: 95%;
  margin-top: 20px;
  border-radius: 20px;
  background-color: black;
  /* border: 1px white solid; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar h2 {
  color: white;
}

.right {
  height: 50%;
  width: 20%;
  display: flex;
  gap: 10px;
  /* border: 1px white solid; */
}

.right input {
  width: 90%;
  border: none;
  color: #626262;
  outline: none;
  font-size: 15px;
  background-color: #ebfffc;
  padding-left: 10px;
  border-radius: 15px;
}

.right img {
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  background: #ebfffc;
}

.movie-list {
  /* height: 90%; */
  width: 95%;
  /* border: 1px white solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-card {
  /* border: 1px white solid; */
  height: 250px;
  width: 200px;
  margin: 10px;
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.movie-card:hover {
  transform: scaleX(1.3) scaleY(1.3);
  z-index: 2;
}

.movie-card img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.movie-card:hover img {
  filter: brightness(70%);
  border-radius: 10px;
}

.movie-info {
  /* border: 1px white solid; */
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 50%;
  color: white;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.movie-card:hover .movie-info {
  opacity: 1;
  /* border: 1px white solid; */
  transform: translateY(0px);
}

.link1 {
  text-decoration: none;
  width: 90%;
  /* border: 1px white solid; */
}

.more-info {
  /* border: 1px white solid; */
  width: 100%;
  color: black;
  font-size: 0.8rem;
  height: 20px;
  border-radius: 3px;
  background: #ebfffc;
  transition: 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-info:hover {
  /* transform: scale(1.01); */
  /* background: #b2f0f5; */
  background-image: linear-gradient(to right, black 0%, #292929 100%);
  color: #ebfffc;
}

.movie-info p {
  font-size: 0.6rem;
}

@media (min-width: 300px) and (max-width: 420px) {
  .search-bar h2 {
    font-size: 1rem;
  }

  .right {
    width: 50%;
    gap: 5px;
    /* border: 1px white solid; */
  }
  .right input {
    width: 100%;
    font-size: 0.8rem;
    padding-left: 6px;
    padding-top: 3px;
  }

  .right img {
    padding: 3px;
  }

  .movie-card {
    height: 200px;
    width: 150px;
    margin: 3px;
  }
  .movie-card:hover {
    transform: none;
  }

  .movie-info {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (min-width:600px) and (max-width:900px) {
  .search-bar h2{
    font-size: 1.1rem;
  }
  .right{
    /* border: 1px solid white; */
    width: 30%;
    gap: 3px;
  }
  .right img{
    padding: 3px;
  }
  .right input{
    width: 100%;
    font-size: 0.8rem;
    padding-top: 3px;
  }
  .movie-card{
    margin: 3px;
  }
  .movie-card:hover{
    transform: none;
  }
  .movie-info {
    opacity: 1;
    transform: translateY(0px);
  }
  
}
